<h1>検索サイト</h1>
<p>入力すると、WikipediaとYoutubeでの検索結果が出ます</p>
<%= form_tag({ :controller => 'base', :action => "home"}, {:method => :get}) do %>
  <%= text_field_tag :keyword %>
  <%= submit_tag '検索' %>
<% end %>
<h2>Wikipedia</h2>
<div class="wikipedia">
  <p>タイトル：<%= @wiki.title %></p>
  <p>要約：<%= @wiki.summary %></p>
</div>
<h2>Youtube</h2>
<div class="youtube">
  <% @youtube.items.each do |youtube| %>
    <% video = youtube.snippet %>
     <div>
       <iframe width="600" height="400" src="https://www.youtube.com/embed/<%= youtube.id.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
     <p><%= video.title %></p>
  <% end %>
</div>
